---
---
$section-headings-color: #a93ab5;
$header-bg-color: #a93ab5;

@import "{{ site.theme }}";
.page-header {
  color: #ffff;
  background-color: #A067AB;
  background-image: linear-gradient(120deg, #294399, #19d4d4);
}
